body
{
        margin: 0;
        padding: 0;
        color: #484848;
        font-size: 14px;
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        margin-bottom: 60px;
        z-index: 1;
}

html {
        position: relative;
        min-height: 100%;
}
.container {
        /*text-align: center;*/
        max-width: 1000px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        flex: 1 0 auto;
      }